@import'./variables.styl';
.global-nav
	display flex
	justify-content center
	// Dark theme
	&_dark
		background $globalNavBGColorDark
		a
			color $globalNavTextColorDark
		.global-nav__item
			&:hover
				background $globalNavBGColorDarkHover
				> a
					color $globalNavBGColorDark
	// Light theme
	&_light
		background $globalNavBGColorLight
		a
			color $globalNavTextColorLight
		.global-nav__item
			&:hover
				background $globalNavBGColorLightHover
				> a
					color $globalNavBGColorLight

	&__item
		flex-grow 1
		flex-shrink 1
		flex-basis 20%
		box-sizing border-box
		text-align center
		> a
			padding 1rem 1rem
			display block
