$globalNavBGColorDark=#33302f;
$globalNavBGColorDarkHover=#FFF;
$globalNavTextColorDark=#FFF;
$globalNavBGColorLight=#FFF;
$globalNavBGColorLightHover=#33302f;
$globalNavTextColorLight=#33302f;
$globalBlockBGColorGray=#fafafa;
$globalBlockBGColorPink=#f9f0eb;
$sectionContentInformationTextColor=#a0a0a0;