.main_form
  position relative
  padding 50px 10px 0 50px
  display flex
  flex-direction column
  width 300px
  height 100vh
  >.form_btn
    border 2px solid red
    padding 0 20px
    width 40%

.from-input
  border 2px solid red
  border-radius 50%
  padding 10px

.window.active
  width 300px
  height 200px
  margin 10px
  border 2px solid black
  background-color rgba(128, 128, 128, 0.47)

.notification-messege
  display none

.notification-messege.active
  display block
  font-size 30px
  padding 5px

